@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

button{
    cursor: pointer;
}

.scrollbar-hide {
    scrollbar-width: none;
   
    -ms-overflow-style: none;
    
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}